@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* 
.login-bg{
  background: url(../assets/images//login.png);
  background-size: cover;
} */

.inputs:-webkit-autofill,
.inputs:-webkit-autofill:hover,
.inputs:-webkit-autofill:focus,
.inputs:-webkit-autofill:active {
  background: none !important;
}


.container {
  @apply w-[90%] mx-auto
}

.dash-container {
  @apply w-[94%] mx-auto
}

.input-wrap {
  @apply w-full flex flex-col items-start gap-2 relative
}

.labels {
  @apply text-[11px] 2xl:text-xs font-[400] text-head
}

.labelsFade {
  @apply text-[11px] 2xl:text-[13px] font-[400] text-greytxt
}

.inputs {
  @apply text-xs 2xl:text-sm rounded w-full border border-border bg-none p-2 py-[10px] focus:outline-none focus:border-[1px] focus:border-primary1 invalid:border-[1px] invalid:border-error2 autofill:bg-none
}

.inputsfade {
  @apply text-xs 2xl:text-sm rounded w-full border-[1px] text-appBlack border-inputBorder bg-inputBg p-2 py-[10px] focus:outline-none focus:border-[1px] focus:border-someBorderGray autofill:bg-none
}

.password-input {
  @apply w-full relative
}

.buttons {
  @apply w-full bg-primary text-white p-[10px] rounded mt-[1rem] disabled:bg-someGray
}

.buttons-2 {
  @apply bg-primary text-white p-[10px] rounded mt-[0rem] disabled:bg-someGray
}

.hovers {
  @apply hover:bg-sidebarTxtHover active:bg-sidebarTxtActive transition duration-200 cursor-pointer
}

.hovers-text {
  @apply hover:text-sidebarTxtHover active:text-sidebarTxtActive transition duration-200 cursor-pointer
}

.outchat {
  width: fit-content;
  background: #BEF6FE;
  border-radius: 0px 16px 16px 16px;
  padding: 10px;
}

.mechat {
  width: fit-content;
  background: #161C51;
  border-radius: 16px 0px 16px 16px;
  padding: 10px;
  
}


.scroll {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}


.scroll-chat {
  overflow-y: scroll;
}

.scroll-chat::-webkit-scrollbar {
  width: 8px
}

.scroll-chat::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 9999px;
}



.scroll-2 {
  overflow-y: scroll;
}

.scroll-2::-webkit-scrollbar {
  width: 2px
}

.scroll-2::-webkit-scrollbar-thumb {
  background: #161C51;
}

.slim-scroll {
  overflow-y: scroll;
}

.slim-scroll::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.slim-scroll::-webkit-scrollbar-thumb {
  background: #00692B;
}

.prompt-bg-open {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s ease-in-out
}

.prompt-bg-close {
  display: none;
}

.sidebar-bg {
  background: url(../assets/images/sidebar.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media(max-width: 1500px) {
  .sidebar-bg {
    background: url(../assets/images/sidebarsm.png);
    /* background: yellow; */
    background-size: cover;
    background-repeat: no-repeat;

  }
}

.card-open {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-close {
  width: 30%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: dropIn .5s ease-in-out;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swipe-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  animation: text-swipe .3s ease-in-out;
}

.spinning-logo {
  width: 100%;
  animation: logo-spin 6s linear infinite;
}

.next-video-container {
  margin: 0px !important
}

.slide-up {
  transform: translateY(0px);
  animation: slide .4s ease-in-out;
}

.gridd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media(min-width: 1500px) {

  .gridd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropIn {
  from {
    top: 0%
  }

  to {
    top: 50%
  }
}

@keyframes logo-spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(359deg);
  }
}

@keyframes text-swipe {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: transLateX(100%);
  }
}

@keyframes slide {
  from {
    transform: translateY(20px);
    opacity: 0
  }

  to {
    transform: transLateY(0px);
    opacity: 1
  }
}